/*@tailwind base;
@tailwind components;*/
@tailwind utilities;

:root {
  /*--background: #f3f3f3;*/
  --foreground: #171717;
  --teq-background-color: #004F17;
  --str-background-color: #711100;
  --phy-background-color: #AA7500;
  --int-background-color: #5a0163;
  --agl-background-color: #082492;
  --teq-opacity-color: #004F1730;
  --str-opacity-color: #71110030;
  --phy-opacity-color: #AA750030;
  --int-opacity-color: #66007130;
  --agl-opacity-color: #08249230;
  --teq-border-color: #117721;
  --str-border-color: #991c00;
  --phy-border-color: #e5a526;
  --int-border-color: #84048a;
  --agl-border-color: #1e3ebd;
  --blue-color: #1C4FA1;
  --blue-background-color: #081934;
  --blue-opacity-color: #1C4FA155;
  --blue-border-color: #2963bf;
  --orange-color: #F77908;
  --orange-border-color: #633c1a;
  --orange-background-color: #3e2611;
  --orange-opacity-color: #F7790830;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #2b7440;
    --foreground: #ededed;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #742b2b;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  font-family: var(--font-jost);
  background-color: #000000;
  /*background: radial-gradient(rgba(83, 196, 255, 0.85) 0%, rgba(43, 166, 255, 0) 100%);*/
}


.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbarXY {
  overflow-x: auto;
  overflow-y: auto;
}

.scrollbarX {
  overflow-x: auto;
  overflow-y: hidden;
}



.scrollbar::-webkit-scrollbar,
.scrollbarX::-webkit-scrollbar,
.scrollbarXY::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  background-color: var(--blue-background-color);
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbarX::-webkit-scrollbar-thumb,
.scrollbarXY::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: var(--orange-color);
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-corner,
.scrollbarX::-webkit-scrollbar-corner,
.scrollbarXY::-webkit-scrollbar-corner {
  background-color: var(--blue-border-color);
}